.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  cursor: pointer;
  overflow-y: scroll;
  padding: 2vh 0 25vh;
}

.modal {
  height: max-content;
  padding: 20px 24px 20px 24px;
  border: 0.5px solid rgb(50, 50, 50);
  margin: auto 2vw;
  background-color: white;
  cursor: default;
  max-width: 95vw;
  position: relative;
}

.closeButton {
  all: unset;
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
  padding: 12px;
  border: 0.5px rgb(50, 50, 50);
  position: absolute;
  right: 12px;
  top: 12px;
}

.closeIcon {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.closeButton:focus {
  outline: 1px solid rgb(0, 0, 0);
}
