.login_container {
  border: var(--smallBorder);
  background-color: var(--background);
  width: 36rem;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3.2rem;
  border-radius: 0.4rem;
  row-gap: 1.6rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.login_form > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
}

.login_form label {
  align-self: flex-start;
}

.input_container {
  display: flex;
}

.input_container {
  height: 3.2rem;
  width: 90%;
}

.submit_button {
  border: var(--smallBorder);
  height: 4rem;
  width: 90%;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 0.8rem 0;
}

.submit_button:hover {
  background-color: var(--buttonHoverColor);
}

.input_container input {
  background: var(--inputBackground);
  border: var(--smallBorder);
  width: 100%;
  padding-left: 0.4rem;
  border-radius: 0.4rem;
}

.input_container .password {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.login_form label {
  font-size: 2.4rem;
  font-weight: bolder;
}

.error {
  color: var(--errorColor);
  font-size: 1.6rem;
}

.toggle_password {
  background-color: var(--buttonBackground);
  border: var(--smallBorder);
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 15%;
}

.eye,
.closed_eye {
  fill: var(--iconColor);
  height: auto;
  width: 80%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
}

.login_container a {
  color: var(--linkColor);
  font-family: Inter, sans-serif;
}

.login_form a,
.login_form .error {
  align-self: flex-start;
  margin-left: 5%;
  font-size: 1.6rem;
}

.signup_link_container {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
