
.logout_button {
  height: 4rem;
  width: 34rem;
  border: 0.05rem solid rgb(50, 50, 50);
  border-radius: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 0.8rem 0;
}

.logout_button:hover {
  filter: brightness(1.05);
}

