
.logout_button {
  border: var(--smallBorder);
  height: 4rem;
  width: 34rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 0.8rem 0;
}

.logout_button:hover {
  background-color: var(--buttonHoverColor);
}

